@media only screen and (max-device-width: 480px) {

  .choose-col{
    width: 47%;
  }
  

  #hero-area5 {
    background-image: url(../img/our_presence/ourpresence.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 220px;
    margin-top: 100px;
    position: relative;
    overflow: hidden;
    padding: 150px 0 80px;
  }
  
 
  #hero-area6 {
    background-image: url(../img/contact_us/contactus.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 220px;
    margin-top: 125px;
    position: relative;
    overflow: hidden;
    padding: 150px 0 80px;
  }

  #hero-area7 {
    background-image: url(../img/gallery/gall.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 220px;
    margin-top: 125px;
    position: relative;
    overflow: hidden;
    padding: 150px 0 80px;
  }

  #hero-area8 {
    background-image: url(../img/our_team/ourteam.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 220px;
    margin-top: 125px;
    position: relative;
    overflow: hidden;
  }

  .become_partner1 {
    display: none;
  }
  
  .become_partner2 {
    display: block;
  }

  .team_founder1{
    text-align: center;
    padding-left: 9%;
  }
  
  .team_founder2{
    text-align: center;
    padding-left: 9%;
    }

    .team_director1 {
      text-align: center;
    padding-left: 0%;
    padding-top: 20px;
    }
    
    .team_director2 {
      text-align: center;
    padding-left: 0%;
    padding-top: 20px;

    }


  .num-img1{ position: absolute; left: 2%; top: 34%; }
  .num-img2{ position: absolute; left: 2%; top: 55%; }
  .num-img3{ position: absolute; left: 2%; top: 71%; }
  .num-img4{ position: absolute; left: 2%; top: 89%; }

  .about-call-mail{
    font-size: 11px;
    text-align: center;
  }
  .call-mail{
    width: 40px;
  }

    .director1{
      text-align: center;
      padding-left: 0%;
      margin-top: 20px;
      max-width: 100%;
    }

    .section-title8 {
      font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    padding-top: 0%;
    margin-top: 0%;
    line-height: 20px;
    text-align: center;
      color: #000;
     display: inline-block;
     position: relative;
    }
        
    .section-title81 {
      font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    color: #282828;
    
    }
    
    .section-title812 {
      font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    padding-top: 0%;
    text-align: left;
    color: #282828;
    
    }
    .section-subtitle81 {
      font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    padding-bottom: 10px;
    text-align: center;
    color: rgba(40, 40, 40, 0.4); 
    }
    
    
    .section-subtitle812 {
      font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    padding-bottom: 10px;
    text-align: left;
    color: rgba(40, 40, 40, 0.4); 
    }
    

.team_members
{
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.14);
  box-sizing: border-box;
  box-shadow: 0px 0px 1px rgba(148, 132, 132, 0.15);
  border-radius: 16px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  padding-left: 0%;
  padding-top: 0%;
  padding-right: 0%;
  width: 40%;
}

.team_members2{
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.14);
  box-sizing: border-box;
  box-shadow: 0px 0px 1px rgba(148, 132, 132, 0.15);
  border-radius: 16px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  padding-left: 0%;
  padding-top: 0%;
  padding-right: 0%;
  /* width: 300px; */
  /* height: 110px; */
  min-height: 130px;
}
    
.partners_images8 {
  height: 135px;
  width: 100%;
 }

 .partners_images82{
  height: 60px;
  width: 60px;
  margin-top: 25px;
  margin-left: 20px;
 }

 .team_member_names {
  padding-top: 25px;
  padding-left: 20px;
  text-align: left;
  padding-right: 20px;
}

 .partners_images88 {
  height: 135px;
  width: 100%;
 }

.section-subtitle88 {
  font-family: 'Helvetica Neue';
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
color: #282828; 
padding-left: 20px;
padding-top: 6%;
display: inline-block;
  position: relative;
}

.section-subtitle888 {
  font-family: 'Helvetica Neue';
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;
color: #282828; 
padding-left: 20px;
padding-top: 6%;
display: inline-block;
  position: relative;
}

  .about_heading2 .about_heading22{
    padding-bottom: 40px;
    padding-top: 0%;
    padding-left: 15%;
    padding-right: 10%;
  }  
  
  
.section-padding .section-header {
  margin-top: 20px;
  margin-bottom: 0px;
}

  .section-header7{
    margin-top: 0%;
  } 

  .tab {
    display: none;
    
  }
  
  .tab2{
    display: block;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
    margin-top: 30px;
  }

  .section-padding .contact-form-area .contact-block {
    display: block;
    position: relative;
    width: 100%;
    padding-left: 5%;
    padding-right: 4.5%;
    }

    
  .section-padding .contactus .contact-block {
    display: block;
    position: relative;
    width: 100%;
    padding-left: 5%;
    padding-right: 4.5%;
    }

   .about_heading2 .section-title2 {
    color: #32429A;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: normal;
    text-align: center; 
    width: 100%;
    font-size: 18px;
    padding-bottom: 0%;
    line-height: 28px;
    padding-top: 3%;
    padding-left: 0%;
    padding-right: 0%;
   
  }

  .section-title1111 {
    font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 0%;
  text-align: center;
    color: #32429A;
    display: inline-block;
    position: relative;
  }

  .section-title77 {
    font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 28px;
  padding-left: 15px;
  padding-top: 0%;
    color: #32429A;
    text-align: left;
    display: inline-block;
    position: relative;
  }

  .section-title7777 {
    font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 28px;
  padding-left: 15px;
  padding-top: 0%;
    color: #32429A;
    text-align: left;
    display: inline-block;
    position: relative;
  }
   .about_heading2 .section-subtitle3 {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 28px;
    text-align: center;
    width: 100%;
    padding-top: 0%;
    padding-left: 15%;
    padding-right: 15%;
    color: #282828;
  }
  
  
.contact-form-area .map2 {
  position: relative;
  width: 100%;
  height: 160px;
  border: 1px solid rgba(0, 0, 0, 0.14);
  box-sizing: border-box;
  border-radius: 16px;
  padding-top: 0%;
  margin-top: 0%;
}

.contact-form-area .map2 object{
  position: relative;
  width: 100%;
  padding-top: 0%;
  height: 160px;
  border: 1px solid rgba(0, 0, 0, 0.14);
  box-sizing: border-box;
  border-radius: 16px;
  
}

  .footer-area {
    background: url(../img/Mask_Group.png) rgb(150, 135, 233);  
    /* background: linear-gradient(256.63deg, #32429A 0%, #02041d 100%); */
    position: relative;
    padding: 30px 0px 50px;
    background-repeat: no-repeat;
    background-size: cover;
 
}

  .social_accounts {
    display: none;
   }
   
   .social_accounts2 {
     display: block;
    }

    .social_accounts2 a{
      padding-left: 5%;
      padding-right: 5%;
     }

#hero-area4 {
  background-image: url(../img/business/business2.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 220px;
  margin-top: 125px;
  position: relative;
  overflow: hidden;
  padding: 150px 0 80px;
}

.image_partner{
  display: none;
}

.section-title44 {
  font-family: 'Helvetica Neue';
font-style: normal;
font-weight: normal;
font-size: 23px;
line-height: 30px;
text-align: left;
  color: #32429A;
  display: inline-block;
  position: relative;
}

.section-title66 {
  font-family: 'Helvetica Neue';
font-style: normal;
font-weight: normal;
font-size: 23px;
line-height: 30px;
width: 70%;
padding-left: 10%;
text-align: left;
  color: #32429A;
  display: inline-block;
  position: relative;
}

.section-subtitle66 {
 display: none;
}

.parent6 {
  display: none;
}

.parent66 {
  text-align: center;
  display: block;
}

.image13 {
  position: absolute;
  bottom: 25%;
  right: 85%;
}

.image14 {
  position: relative;
  top: -170px;
  left: -165px;
}

.image133 {
  position: relative;
  top: -180px;
  left: 165px;
}

.image134 {
  position: absolute;
  bottom: 7%;
  right: 86%;
}

.image145 {
  position: absolute;
  bottom: 71%;
  left: 88%;
}

.section-subtitle44 {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 0px;
  text-align: start;
  color: #282828;
}

  #hero-area3 {
    background-image: url(../img/careers/careers2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 220px;
    margin-top: 125px;
    position: relative;
    overflow: hidden;
    padding: 150px 0 80px;
  }
  
  .careers_home {
    display: none;
  }

  .careers_home2 {
    display: block;
  }

  .div_whyus {
    display: none;
  }
    
  .div_whyus2 {
    display: block;
    text-align: center;
    
  }

  .div_whyus3 {
    display: none;
  }
  
  
  .div_whyus4 {
    display: block;
    text-align: center;
  }
  

  .careers_home2 .section-title6 {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-size: 23px;
    line-height: 30px; 
    font-weight: 400;
    text-align: center;
    padding-left: 10%px;
    padding-right: 8%;
    color: #32429A;
    display: inline-block;
    position: relative;
    
  }

#hero-area2 {
  background-image: url(../img/about/about.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 220px;
  margin-top: 125px;
  /* background: #32429A; */
  position: relative;
  overflow: hidden;
  padding: 150px 0 80px;
}

.submit_button {
  padding-left: 30%; 
  padding-bottom: 20px;
}

.image5 {
  position: relative;
  border-radius: 16px;
   width: 330px;
   height: 202px;
   margin-top: 10%;
}

.image567 {
  position: relative;
  border-radius: 16px;
   width: 335px;
   height: 202px;
   margin-top: 0%;
}

.image56 {
  position: relative;
  border-radius: 16px;
   width: 335px;
   /* height: 202px; */
   margin-top: 0%;
   margin-left: -25%;
}

.image6 {
  position: relative;
  top: -120px;
  left: 159px;
}

.image7 {
  position: relative;
  top: -275px;
  left: -165px;
}

.image11 {
  position: relative;
  top: -130px;
  left: 160px;
}

.image10 {
  position: relative;
  top: -290px;
  left: -165px;
}

.image111 {
  position: relative;
  top: -125px;
  left: -210px;
}

.image110 {
  position: relative;
  top: -345px;
  left: 120px;
}

.vision_image {
  position: relative;
  height: 38px;
  width: 62px;
}

.job_type {
  display: none;
}

.job_type2 {
  display: block;
}

.section1111{
  color: #32429A;
  font-size: 23px;
  line-height: 28px;
  padding-left: 15px;
  font-family: 'Helvetica Neue';
  font-style: normal;
 }

 .filter2{
  padding-top: 1%;
  width: 170px;
  height: 50px;
  margin-right: 5px;
  margin-left: 5px;
  background-color: #fff;
  color: #282828;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: normal;
  font-size: 21px;;
  text-align: left;
  padding-left: 30px;
  border: 1px solid rgba(0, 0, 0, 0.14);
  box-sizing: border-box;
  border-radius: 30px;
}

.pagination_rounded{
  width: 100%;
  margin-top: 4%;
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
}
.pagination_rounded ul {
  margin: 0;
  padding: 0;
  list-style: none
}
.pagination_rounded ul li {
  margin-left: 20px;
}

.page-active{
  background: #32429A;
  color: #fff;
  border: 1px solid #32429A;
  border-radius: 50%;
  line-height: 20px;
  height: 30px;
  font-size: 14px;
  width: 30px;
  text-align: center;
}
.pagination_rounded ul li a:hover {
  background: #32429A;
  color: #fff;
  border: 1px solid #32429A
}
a:link {
  text-decoration: none
}
.pagination_rounded ul li a {
  color: #32429A;
  border-radius: 50%;
  line-height: 25px;
  height: 30px;
  font-size: 14px;
  width: 30px;
  text-align: center;
  border: 2px solid #32429A
}

.hire11{
  display: none;
}
.hire22{
  margin-left: 0%;
  display: block;
}

.section-title3 {
  font-family: 'Helvetica Neue';
font-style: normal;
font-weight: normal;
font-size: 23px;
line-height: 28px;
text-align: center;
padding-left: 10%;
  color: #32429A;
  display: inline-block;
  position: relative;
}
.section-subtitle3 {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: normal;
  padding-left: 20px;
  padding-top: 12px;
  font-size: 15px;
  line-height: 28px;
  text-align: left;
  color: #282828;
}

.parent2 {
  display: block;
  text-align: center;
  top: 0;
  left: 0;
}

.parent1 {
  display: none;
}


.section-title2 {
  color: #32429A;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: normal;
  text-align: left;
  font-size: 23px;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10%;
}

.section-title33 {
  color: #32429A;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: normal;
  text-align: center;
  font-size: 23px;
  text-align: start; 
  padding-top: 10%; 
  padding-left: 5%;
  padding-right: 10%;
}

.section-subtitle333 {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  padding-left: 5%;
  padding-right: 10%;
  text-align: left;
  color: #282828;
}

.section-subtitle {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  padding-left: 10%;
  padding-right: 10%;
  text-align: left;
  color: #282828;
}
.login_dropdown{
  left: -80%;
  margin: 0;
  padding: 0;
  display: none;
  z-index: 99;
  background-color: #fff;
  white-space: nowrap;
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  animation: fadeIn 0.4s;
  -webkit-animation: fadeIn 0.4s;
  -moz-animation: fadeIn 0.4s;
  -o-animation: fadeIn 0.4s;
  -ms-animation: fadeIn 0.4s;
}
.menu_dropdown{
  left: 185px;
  margin: 0;
  padding: 0;
  display: none;
  z-index: 99;
  background-color: #fff;
  white-space: nowrap;
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  animation: fadeIn 0.4s;
  -webkit-animation: fadeIn 0.4s;
  -moz-animation: fadeIn 0.4s;
  -o-animation: fadeIn 0.4s;
  -ms-animation: fadeIn 0.4s;
}

  /* .dropdown:hover .dropdown-menu {
    display: block;
    position: absolute;
    margin-left: -290%; 
    animation: fadeIn 0.4s;
    -webkit-animation: fadeIn 0.4s;
    -moz-animation: fadeIn 0.4s;
    -o-animation: fadeIn 0.4s;
    -ms-animation: fadeIn 0.4s;
  } */

  
.dropdown .dropdown-menu .dropdown-item {
  width: 90%;
  background: #FFFFFF; 
  border: 1px solid rgba(0, 0, 0, 0.14);
  box-sizing: border-box;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 10px;
}

.dropdown .dropdown-menu .dropdown-item a{

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: normal;
font-size: 21px;
line-height: 25px;
padding-left: 10%;
border-radius: 16px;
color: #282828;
}

.dropdown .dropdown-menu .dropdown-item .menu_icon{
  padding-right: 12%;
  }

  .dropdown .dropdown-menu .dropdown-item:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .dropdown .dropdown-menu .dropdown-item:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .dropdown .dropdown-item:focus,
  .dropdown .dropdown-item:hover,
  .dropdown .dropdown-item.active {
    color: #F63854;
    /* background: #32429A; */
  }
  /* .mob_menu {
    display: block;       
  }

  .web_menu {
    display: none;       
  } */


  #hero-area {
    background-image: url(../img/bgbanner1.png);
    min-height: 600px;
    background-color: #32429A;
    position: relative;
    overflow: hidden;
    padding: 180px 0 80px;
  }

  .head_div {
    display: block;
    padding: 10%;
  }

  .intro-img {
    display: none;
  }


  #hero-area .contents .head-title {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    padding-left: 6%;
    padding-right: 6%;
    line-height: 48px;
    color: #FFFFFF;
    font-weight: 400;
    margin-bottom: 10px;
  
  }

  #hero-area .contents .header-button2 {
    margin-top: 30px;
    color: #222222;
    display: block;
  }
  
  #hero-area .contents .header-button {
    display: none;
  }

  .gpay {
    margin-left: 5%;
    margin-right: 3%;
  }
  
  .appstore {
    margin-left: 3%;
    margin-right: 5%;
  }

  .stars {
   display: none;
  }

  .section-title111 {
    font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
    color: #32429A;
    position: relative;
  }

  .section-title11111{
    font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
    color: #32429A;
    position: relative;
  }

  
  .section-subtitle111 {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    color: #282828;
  }

  .section-subtitle11111 {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    color: #282828;
  }

  
  .section-subtitle111111 {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    color: #282828;
  }

  .services-item {
    border-radius: 16px;
    text-align: center;
    padding-top: 10%;
    margin: 5%;
    padding-bottom: 10%;
    box-shadow: 0 0 12px #e6e4e4;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
  }
  
.services-item .icon {
  border: 1px solid #f1f1f1;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 auto;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}


.services-item .services-content p {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  padding-top: 10px;
  text-align: center;
   color: #282828;
}

  .section-title5 {
    font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 27px;
  text-align: center;
  color: #fff;
   
  }

  .section-title55 {
    font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 27px;
  text-align: left;
  color: #fff;
   
  }

  .section-subtitle3 {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    text-align: left;
    color: #282828;
  }

  .about-area {
    padding: 20px;
  }

  .about-area .about-wrapper .img-fluid {
    height : 45px;
    width : 45px;
    padding: 0px;
  }

  .about-area .about-wrapper .img-fluid {
    display: block;
  }

  .about-area .about-wrapper .section-title5 {
    text-align: left;
    padding-bottom: 0px;
  }

  .section-padding {
    padding: 20px 20px;
  }

  .about-area .about-wrapper .section-title {
    text-align: left;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 30px;
  padding-bottom: 0px;
  padding-top: 0px;
  }

  .about-area .about-wrapper .section-title5 .img-fluid{
    display: none;
  }

   
.about-area .about-wrapper .members .img-fluid {
  display: none;
  padding-bottom: 0px; 
  padding-left: 0px;
}


.section-title22 {
  color: #000;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: normal;
  text-align: center;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  padding-top: 20px;
  padding-bottom: 0px;
  padding-left: 0px;
  text-align: start; 
 }

 .section-subtitle55 {
  position: absolute;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 22px;
  color: rgba(40, 40, 40, 0.4);
 }

 .section-subtitle555 {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  padding-bottom: 0px;
  padding-left: 0px;
  text-align: left;
  color: #282828;
}

.about-area .social_icons {
  padding-left: 0px;
  padding-top: 0px;
  margin-top: 0px;
  text-align: center;
}

.about-area .content4{
  display: none;
}

.about-area .content3{
  display: block;
  background-color: white;
  border-radius: 16px;
  padding-left: 20px;
  margin-top: 30px;
  box-shadow: 0 0 12px #e6e4e4;
}

.about-area .about-wrapper .members .content {
  display: none;
}
 
.about-area .about-wrapper .members .content2 {
  display: block;
}

.about-area .about-wrapper .members .Team_image1{
  margin-top: 0px;
  display: block;
     
 }

.about-area .about-wrapper .members .Team_image2{
  margin-top: 0px;
}
.about-area .about-wrapper .members .Team_image3{
  margin-top: 0px;
}
.about-area .about-wrapper .members .Team_image4{
  margin-top: 0px;
}
.about-area .about-wrapper .members .Team_image5{
  margin-top: 0px;
 
}
.about-area .about-wrapper .members .Team_image6{
  margin-top: 0px;
 
}
.about-area .about-wrapper .members .content{
 padding-top: 30px;
}

.section-padding2 .heading {
  text-align: left;
  }

.section-padding2 .section-title6 {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-size: 23px;
  line-height: 30px; 
  font-weight: 400;
  text-align: left;
  padding-left: 0px;
  color: #fff;
  display: inline-block;
  position: relative;
  
}

.about-area .about_heading {
  padding-left: 10%;
}

.about-area .about_heading .section-title2 {
  color: #32429A;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: normal;
  text-align: center;
  padding-left: 0px;
  text-align: center; 
  padding-top: 10px; 
  font-size: 18px;
  padding-bottom: 10px;
}

.about-area .about_heading .section-subtitle3 {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #282828;
}

.about-area .about_heading .about_mail {
  padding-top: 0px; 
  position: relative;
  padding-bottom: 10px;
}

.about-area .about_heading .about_mail a img{
  padding-top: 3px; 
  height: 30px;
  width: 30px;
  padding-left: 6px;
  padding-right: 3px;
  text-align: left; 
  position: relative;

}

.about-area .about_heading .about_call {
  padding-top: 20px;
 padding-bottom: 30px;
 }
 
.about-area .about_heading .about_call a img{
  padding-left: 15px;
  padding-top: 4px;
  text-align: left; 
  position: relative;

}

.milestones2 {
  display: block;
  margin-top: 20px;
}

.milestones3 {
  display: block;
  margin-top: 20px;
}

.milestones2 .milestones2_text{
  width: 50%; 
  background: #F4F6FF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
  border-radius: 16px;
  padding: 20px; 

  margin-top: 30%; 
  padding-right: 5%;
  margin-left: 50%;
  position: absolute;
  font-family: 'Helvetica Neue';
   font-style: normal;
   font-weight: normal;
   font-size: 13px; 
   line-height: 16px;
   color: #282828;
}

.milestones {
  display: none;
}

.section-subtitle6 {
  position: absolute;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  padding-left: 0px;
  padding-top: 2%;
  text-align: left;
  color: #ffffff;
 }

  .about-area .about-wrapper .section-subtitle3 {
    text-align: left;
    padding-top: 10px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
  }

  ::placeholder {
    color: black;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: black;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
   color: black;
  }
  
  select{
    width: 100%;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.14);
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 30px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    padding: 10px;
    color: rgb(114, 110, 110);
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: normal;
    padding-left: 20px;
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #fff;
      -webkit-appearance: none;
      background-position-x: 265px;
    appearance: none;
    display: block;
  }

  .select22{
    width: 100%;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.14);
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 30px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    padding: 10px;
    color: rgb(114, 110, 110);
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: normal;
    padding-left: 20px;
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #fff;
      -webkit-appearance: none;
      background-position-x: 300px;
    appearance: none;
    display: block;
  }

  
.select2{
  width: 100%;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.14);
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 30px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  padding: 10px;
  color: rgb(114, 110, 110);
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: normal;
  padding-left: 20px;
  background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #fff;
    -webkit-appearance: none;
    background-position-x: 300px;
  appearance: none;
  display: block;
}

.select3{
  width: 100%;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.14);
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 30px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  padding: 10px;
  color: rgb(114, 110, 110);
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: normal;
  padding-left: 20px;
  background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #fff;
    -webkit-appearance: none;
    background-position-x: 300px;
  appearance: none;
  display: block;
}
  
.select4{
  width: 100%;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.14);
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 30px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  padding: 10px;
  color: rgb(114, 110, 110);
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: normal;
  padding-left: 20px;
  background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #fff;
    -webkit-appearance: none;
    background-position-x: 260px;
  appearance: none;
  display: block;
}
.select_job{
  width: 100%;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.14);
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 30px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  padding: 10px;
  color: rgb(114, 110, 110);
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: normal;
  padding-left: 20px;
  background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #fff;
    -webkit-appearance: none;
    background-position-x: 300px;
  appearance: none;
  display: block;
}

.selectdiv {
  position: relative;
  width: 100%;
}

.selectdiv:after {
    content: '\f078';
    font: normal normal normal 17px/1 FontAwesome;
    color: #000;
    right: 11px;
    top: 2px;
    height: 34px;
    padding-right: 5%;
    padding-top: 4%;
    position: absolute;
    pointer-events: none;
}

 
.selectdiv2 {
  position: relative;
  width: 100%;
  padding: 0px;
}

.selectdiv2:after {
    content: '\f078';
    font: normal normal normal 17px/1 FontAwesome;
    color: #000;
    right: 11px;
    top: 2px;
    height: 34px;
    padding-right: 20%;
    padding-top: 8%;
    position:absolute;
    pointer-events: none;
}

  .section-subtitle4 {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    padding-left: 20px;
    margin-top: 16px;
    margin-left: 10px;
    padding-top: 8px;
    width: 80%;
    padding-bottom: 8px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.14);
    box-sizing: border-box;
    box-shadow: 0px 0px 14px rgba(148, 132, 132, 0.15);
    border-radius: 30px;
    text-align: left;
    color: #000;
  }

  .section-padding .section-header .section-title{
    text-align: left;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 30px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  .section-padding .section-header .section-subtitle{
    text-align: left;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    padding: 0px;
    line-height: 20px;
  }

  .section-subtitle11 {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    display: block;
    color: #282828;
  }

  .section-subtitle1 {
    display: none;
  }

  .services-item2 {
    border-radius: 16px;
      text-align: center;
    background-color: #16B5AB;
    height: 120px;
    width: 100%;
    box-shadow: 0 0 12px #e6e4e4;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
  }

  .services-item2 .services-content2 {
    text-align: center;
    height: 120px;
    width: 115%;
    border-bottom-right-radius: 16px;
    border-top-right-radius: 16px;
    box-shadow: 0 0 12px #e6e4e4;
    background-color: #ffffff;
  }
  
  .services-item2 .services-content2 p {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 28px;
    text-align: left;
    padding-left: 10%;
    padding-right: 5%;
    padding-top: 5%;
     color: #282828;
  }
  
  .service_block {
    margin-top: 20px;
    margin-right: 2%;
    margin-left: 4%;
  text-align: center;
  }

  
  .image17 {
    display: none;
      }

   .image18 {
    position: absolute;
    left: 5%;
    padding-top: 20%; 
    display: block;
   }

   .Partner {
    display: none;
  }
  .Partner2 {
    display: block;
  }

  .partners {
    display: none;
  }
/* ---------------------- */
  .slider {
    position: relative;
    width: 200px;
    height: 200px;
    /* margin: 0px -25px; */
    user-select: none;
    touch-action: pan-y;
  }
  
  .slider-list {
    width: 100%;
    /* overflow: hidden; */
  }
  
  .slider-list.grab {
    cursor: grab;
  }
  
  .slider-list.grabbing{
    cursor: grabbing;
  }
  
  .slider-track {
    display: flex;
  }
  
  .slide {
    /* width: 100%; */
    /* height: 200px; */
    flex-shrink: 0;
    /* font-size: 50px; */
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    /* border: 1px solid #000; */
  }
  .slider-arrows {
    margin-top: 15px;
    text-align: center;
    display: none;
  }
  
  .next,
  .prev {
    background: none;
    border: none;
    margin: 0 10px;
    font-size: 30px;
    cursor: pointer;
  }
  
  .next.disabled,
  .prev.disabled {
    opacity: .25;
    pointer-events: none;
  }
  /* .partners_image {
    height: 80px;
    width: 80px;
  } */
  .box1 {
    width: 90%;
    min-height: 300px;
    background: #F4F6FF;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.13);
    border-radius: 16px;
    padding: 20px;
    position: relative;
    margin: 20px 20px;
    float: left;
  }
  .box1.arrow-top5 { margin-top: -10px; box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.13);}
  /* .box1.arrow-top5:after { content: " "; position: absolute; left: 22%; top: -15px; border-top: none; border-right: 15px solid transparent; border-left: 15px solid transparent; border-bottom: 15px solid #F4F6FF;} */
  
  .box1.arrow-top6 { margin-top: -10px; box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.13);}
  /* .box1.arrow-top6:after { content: " "; position: absolute; right: 14%; top: -15px; border-top: none; border-right: 15px solid transparent; border-left: 15px solid transparent; border-bottom: 15px solid #F4F6FF;} */
  
  .box1.arrow-top7 { margin-top: -10px; box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.13);}
  /* .box1.arrow-top7:after { content: " "; position: absolute; right: 14%; top: -15px; border-top: none; border-right: 15px solid transparent; border-left: 15px solid transparent; border-bottom: 15px solid #F4F6FF;} */
  
  .box1.arrow-top8 { margin-top: -10px; box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.13);}
  /* .box1.arrow-top8:after { content: " "; position: absolute; right: 14%; top: -15px; border-top: none; border-right: 15px solid transparent; border-left: 15px solid transparent; border-bottom: 15px solid #F4F6FF;} */
  
  .slide-gal{
    display: none;
  }
  
  .top-left-text1{
    /* position: absolute; */
    /* top: 8%;
    left: 4%; */
    /* float: left; */
    font-size: 16px;
    color: #282828;
  }
  .top-right-text1{
    /* position: absolute; */
    /* top: 8%;
    right: 5%; */
    /* float: right; */
    font-size: 13px;
    color: #282828;
  }
  .exp-text1{
    /* position: absolute; */
    /* top: 23%;
    left: 4%; */
    margin-top: 8px;
    font-size: 13px;
    color: #282828;
  }
  .about-area11{
    display: none;
  }
  .about-area22{
    display: block;
  }

/* ----------------------- */
  .line33{
    display: none;
  }

  .about_data {
    position: relative;
    display: block;
    box-shadow: 0 0 1px #2c2a2a;
    border-radius: 16px;
    padding-top: 40px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-bottom: 120px;
        /* background-image: url(../img/partners/recangle.png); */
   }

.recangle {
  height: auto;
  width: 100%;
  position: relative;
 display: none;
 }


   .top-left {
    position: absolute;
    top: 10px;
    color: #282828;
    font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  color: #282828;
    text-align: left;
    left: 10px;
  }
  
  
  
  .top-right {
    position: absolute;
    color: #282828;
    top: 30px;
    font-size: 13px;
    left: 10px;
    text-align: left;
  }
  
  .bottom-left {
    position: absolute;
    color: #282828;
    top: 60px;
    left: 10px;
    text-align: left;
    right: 30px;
    font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
  color: #282828;
  
  }  
   .section-padding .services-item4 {
    position: relative;
    border-radius: 16px;
    min-height: 200px;
    height: auto;
    width: 90%; 
    margin-left: 10%;
    margin-top: 0px;
    /* border-top:1px solid transparent; */
    box-shadow: 5px 0px 17px -7px rgba(0,0,0,0.75);
      transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
  }

  .services-item4 .app{
    position: absolute;
   padding-left: 25%;
   padding-top: 5%; 
  }

  
.services-item4 .icon {
  padding-top: 0%;
    margin-top: 0%;
  
  }

   .services-item4 .services-content p {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: normal;
    font-weight: 500;
    font-size: 20px;
    padding-top: 10%;
    padding-left: 15%;
    text-align: left;
    line-height: 23px;
    color: #32429A;
    position: relative;
  }
  
  .services-item4 .services-content h2 {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    margin-top: 0px;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;
    text-align: left;
     color: #282828;
     position: relative;
  }

  .work_image {
    display: none;
  }

  .how_img {
    display: none;
  }

  .testimonial .section-header .section-title {
    font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 30px;
  text-align: center;
    color: #32429A;
    display: inline-block;
    position: relative;
  }
  
  .testimonial .section-header .section-subtitle {
    font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
    color: #000;
    display: inline-block;
    position: relative;
  }

  .testimonial .section-header .img-fluid2 {
    display: none;
  }

  .carousel-item {
    text-align: center;
    position: relative;
    }

    div.carousel-inner {
      height: 480px !important;
    } 

    .milestones2 .carousel-inner {
      height: 400px !important;
    } 

    .milestones3 .carousel-inner {
      height: 200px !important;
    } 

    .milestones3 .carousel-inner .carousel-item{
      height: 200px !important;
      padding-left: 0%;
      padding-right: 0%;
      text-align: center;
    } 

    .carousel-control-prev_images2 .carousel-control-prev{
      padding-top: 60%;
      padding-left: 10%;
    }
    
    .carousel-control-prev_images2 .carousel-control-next{
      padding-top: 60%;
      padding-right: 10%;
    }


  .carousel-item .parent {
    position: absolute;
    top: -180%;
    left: 15%;
  }
  
  .image15 {
    position: absolute;
    height: 160px;
    width: 160px;
    left: 30px;
    padding-top: 10px;
  }
  
  .image16 {
    position: absolute;
    top: 80px;
    left: 30px;
    height: 110px;
   }
  
   .head11{
    margin-top: 20%;
    padding-left: 4%;
    font-family: 'Helvetica Neue';
   font-style: normal;
   font-weight: normal;
   font-size: 23px;
   line-height: 30px;
   color: #32429A;
   
   }
.filter-mob{
  display: block;
  height: 50px;
  width: 100%;
  display: block;
  padding-left: 10%;
  border: 1px solid rgba(0, 0, 0, 0.14);
  box-sizing: border-box;
  border-radius: 30px;
}
   .star22{
    position: absolute;
    margin-left: 51%;
    margin-top: -23%;
    height: 35px;
    width: 35px;
   }
   .filter22{
    margin-top: 5%;
    border-radius: 35px 0px 0pc 35px;
    height: 50px;
    margin-left: 3%;
    width: 65%;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.13);
    font-size: 15px;
    padding-left: 30px;
   }

     .button11{
    margin-top: 5%;
    width: 25%;
    height: 50px;
    margin-left: -1.6%;
    border-radius: 0px 35px 35px 0px;
    background-color: #32429A;
    color: #fff;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.13);
   }
   .button11:hover{
    background-color: #fff;
    color: #000;
   }
   
  .carousel-indicators {
    position: absolute;
  }
  
  .carousel-indicators li {
    width: 10px;
    color: #041577;
    height: 10px;
    margin-top: 20%;
    border-radius: 100%;
  }
  
  .carousel-control-prev-icon{
    color: #041577;
  }

  .carousel-control-prev_images .carousel-control-prev{
    padding-top: 65%;
    padding-left: 75%;
  }
  
  .carousel-control-prev_images .carousel-control-next{
    padding-top: 65%;
    padding-right: 5%;
  }



  .carousel-item-sub {
    text-align: left;
    position: relative;
    margin-top: 75%;
    padding-left: 16px;
    padding-right: 10px;
    width: 90%;
    margin-left: 5%;
    border-radius: 16px;
    background-color: #fff;
    border: 1px solid rgb(218, 212, 212);
    box-shadow: 0px 0px 2px rgba(117, 116, 116, 0.2);
  
  }
  .carousel-item-num {
    display: none;
  }
  
  .testomonial_name {
    position: relative;
    color: #000;
    font-family: 'Helvetica Neue'; 
    font-style: normal;
    font-weight: normal;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    line-height: 21px;
    
  }
  
  .testomonial_sub {
    position: relative;
    color: #000;
    font-family: 'Helvetica Neue'; 
    font-style: normal;
    font-weight: normal;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    line-height: 21px;
    
  }
  
  .foo .section-title55 {
    font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  padding: 10%;
  text-align: center;
  padding-left: 15%;
  padding-right: 15%;
  line-height: 30px;
  color: #fff;
  }

  .contact_container {
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.13);
    border-radius: 16px;
    margin: 6%;
  }

  
.contact-form-area .map{
  
  padding-top: 0px;
  margin-top: 0px;

}

.contact-form-area .map object{
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 0px;
  margin-top: 0px;
  border: 1px solid rgba(0, 0, 0, 0.14);
  box-sizing: border-box;
  border-radius: 16px;
  
}

.contact-form-area .contact-block .con_row {
  display: block;
padding-left: 0px;
  }
  
  .contact-form-area .contact-block .con_row1 {
    display: none;
    }

    .contact-form-area .contact-block .con_h41 {
      display: none;
      }

      .contact-form-area .contact-block .con_h42 {
         text-align: center;
        }

.contact-form-area .contact-block h2 {
  font-family: 'Helvetica Neue';
font-style: normal;
font-weight: normal;
font-size: 18px;
padding-top: 13%;
padding-bottom: 4%;
line-height: 20px;
text-align: center;
  color: #32429A;
  display: inline-block;
  position: relative;
}

.contact-form-area .contact-block h3 {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #282828;
}

.contact-form-area .contact-block h4 {
font-family: 'Helvetica Neue';
font-style: normal;
font-weight: normal;
font-size: 13px;
padding-top: 10px;
line-height: 18px;
color: #32429A;
}

.contact-right-area {
  margin-left: 50px;
}

.contact-right-area .contact-title {
  margin-bottom: 20px;
}

.contact-right-area .contact-title h1 {
  font-size: 22px;
}
.filt{
  display: none;
}
.filter2{
  padding-top: 2%;
  width: 160px;
  height: 50px;
}
.filt2{
  display: block;
}
.filter-pos1{
  margin-left: -12%;
}
.filter-pos2{
  margin-left: 40%;
  margin-top: -18.5%;
}
.filter-pos3{
  margin-left: -12%;
}
.filter-pos4{
  margin-left: 40%;
  margin-top: -18.5%;
}
.text1111{
  display: none;
}
.text2222{
  display: block;
}
.hire-card{
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.13);
  border-radius: 16px;
}


.section-title777 {
  font-family: 'Helvetica Neue';
font-style: normal;
font-weight: normal;
font-size: 23px;
line-height: 27px;
text-align: center;
padding-left: 0%;
margin-left: 0%;
color: #32429A;
}

.about_heading1{
  display: none;
}

.about_heading11{
  display: block;
}

.apage-active{
  color: #FFFFFF;
  background-color: #32429A;
}
.pagination_rounded ul li a:hover {
  background: #32429A;
  color: #fff;
  border: 1px solid #32429A
}
a:link {
  text-decoration: none
}
.pagination_rounded ul li a {
  float: left;
  color: #32429A;
  border-radius: 50%;
  line-height: 2;
  height: 30px;
  width: 30px;
  text-align: center;
  border: 1px solid #e0e0e0
}

/* our presence */
.line11{
  display: none;
}

.shop-filter1{
  display: none;
}

.Stores_mob{
  display: block;
}

.Stores_web{
  display: none;
}
.store-img{
  height: 125px;
  width: auto;
  margin: 0%;
  padding: 0%;
  padding-left: 0px;
  margin-left: 15px;
}
.card-head{
  font-size: 16px;
}
.card-text11{
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  padding-left: 0px;
  padding-right: 10px;
  color: #282828;
}
.card-text{
  font-size: 13px;
}

.card-gal{
  width: 338px;
  margin-right: 3%;
  margin-left: 4%;
  margin-top: 20px;
  margin-bottom: 10px;
}

.button22{
  width: 120px;
  height: 45px;
  text-align: center;
}
.button33{
  width: 140px;
  height: 45px;
  text-align: center;
}
.button-pos22{
  margin-left: 15%;
  padding-bottom: 5%;
  padding-top: 0%;
}
.button-pos33{
  margin-left: 66%;
  margin-top: -31%;
  padding-bottom: 5%;
}
.btn-desk{
  display: none;
}
.btn-mob{
  display: block;
}
.section-title77{
  font-size: 23px;
  text-align: center;
}
.img44{
  width: 135px;
  height: 43px;
  margin-left: 4%;
}
.img55{
  width: 135px;
  height: 43px;
  margin-left: 55%;
  margin-top: -16%;
}

/* gallary */
.filter-gal-desk{
  display: none;
}

.search-gal-web {
  display: none;
}

.search-gal-mob {
  display: block;
}

.filter-gal-mob{
  display: block;
  width: 260px;
  height: 50px;
  padding-left: 20px;
  padding-left: 7%;
  border-radius: 35px 0px 0px 35px;
}
.button-gal{
  color: #fff;
  background-color: #32429A;
  width: 72px;
  height: 50px;
  border-radius: 0px 35px 35px 0px;
}

.search-gal{
  width: 260px;
  height: 50px;
  margin-left: 4%;
  padding-left: 20px;
  border-radius: 35px 0px 0px 35px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.button-gal-pos{
  margin-left: 110.3%;
  height: 50px;
  margin-top: -28%;
}

.button-gal-pos2{
  margin-left: 67%;
  height: 50px;
  margin-top: -16.3%;
}

.close11 {
  margin-top: 0%;
  margin-right: 3%;
  padding-bottom: 5%;
  color: #03136b;
  background-color: white;
}

.gal-head{
  font-family: 'Helvetica Neue';
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
padding-left: 30px;
padding-top: 20px;
color: #32429A;
}
.gal-text{
  font-family: 'Helvetica Neue';
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 16px;
padding-left: 30px;
padding-top: 10px;
padding-bottom: 20px;
padding-right: 10%;
color: #282828;
}

.gallery_mob{
  display: block;
}

.gallery_web{
  display: none;
}

.view{
  display: block;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.view a{
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  text-decoration-line: underline;
  color: #32429A;
}
.popup-card{
  border: 1px solid rgba(0, 0, 0, 0.14);
  box-sizing: border-box;
  border-radius: 12px;
  margin-top: 15px;
}
.card-scroll{
  height: 400px;
  overflow-y: scroll;
}

.popup_gallery_image{
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 10px;
  height: 100px;
  width: 105px;
  border-radius: 12px;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #32429A; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* gallery ends */


}



/* only small desktops */


@media (min-width: 992px) and (max-width: 1199px) {
  #hero-area .contents .head-title {
    font-size: 40px;
  }
  .services-item .services-content h3 a {
    font-size: 14px;
  }
  .title-hl {
    font-size: 30px;
  }
  .why .content h3 {
    font-size: 30px;
  }
  .team-item .contetn {
    padding: 15px 20px;
  }
}

/* tablets */
@media (max-width: 991px) {
  .section-title {
    font-size: 30px;
    margin-bottom: 30px;
  }
  .image18 {
    position: absolute;
    left: 6%;
    padding-top: 18%; 
    display: block;
   }

 
  .services-item .services-content h3 a {
    font-size: 14px;
  }
  .services-item {
    margin-bottom: 20px;
  }
  #pricing-table .title h3 {
    font-size: 14px;
  }
}

/* only small tablets */
@media (min-width: 768px) and (max-width: 991px) {
  .section-title {
    font-size: 26px;
    margin-bottom: 30px;
  }
  .services-item .services-content h3 a {
    font-size: 16px;
  }
  .bg-inverse {
    /* background: #fff !important; */
    background-color: #03136b;
    background-image: url(../img/toolbar.png);
    box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.06);
  }
  .navbar-expand-md .navbar-nav .nav-link {
    margin-bottom: 0;
    margin-top: 0;
  }
  #about .sec-title h3 {
    font-size: 30px;
    line-height: 42px;
  }
  .title-hl {
    font-size: 30px;
  }
  .text-wrapper {
    padding: 60px 30px;
  }
  .why .content h3 {
    font-size: 30px;
  }
  #pricing-table .title h3 {
    font-size: 14px;
  }
  .skill-area img {
    margin-bottom: 30px;
  }
  #blog .blog-item-wrapper {
    margin-bottom: 30px;
  }
  .experience h4 {
    font-size: 18px;
  }
  .testimonial-item {
    padding: 10px;
  }
  .testimonial-item .content h2 {
    font-size: 15px;
  }
  .slider-center img {
    padding: 40px 60px;
  }
  .subscribes h4 {
    font-size: 30px;
  }
  .footer-area .footer-titel {
    margin-top: 30px;
  }
  .contact-right-area {
    margin-top: 0px;
    margin-left: 0px;
  }

 

}

/* mobile or only mobile */
@media (max-width: 767px) {

  .nav-mobile-container{
    margin-top: -50px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .navbar11 {
    /* padding: 70px 0; */
    height: 140px;
    background-color: transparent;
    background-image: none;
    background-size: cover;
  }
  .navbar22 {
    /* padding: 70px 0; */
    height: 125px;
    background-color: #03136b;
    background-image: url(../img/toolbar.png);
    background-size: cover;
  }
 
  .section-padding {
    padding: 20px 0;
  }
  .section-title {
    font-size: 23px;
    margin-bottom: 30px;
  }
  .navbar-expand-md .navbar-brand,
  .navbar-expand-md .navbar-toggler {
    position: relative;
    top: 0px;
    left: 0px;
    background-color: transparent;
    padding: 10px 0px 0px 10px;
  }
  .bg-inverse {
    background: #fff !important;
    box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.06);
  }
  .navbar-expand-md .navbar-nav .nav-link {
    margin-bottom: 0;
    margin-top: 0;
  }
  .navbar-brand img {
    margin: 5px 0;
  }
  .navbar-brand-bg{
    position: relative;
    top: 0px;
    left: 0px;
    background-color: transparent;
    padding: 10px 0px 0px 10px;
  }
  
  .top-nav-collapse .navbar-brand img {
    margin-top: 45px;
  }
  .login_image .login_img {
    padding-left: 10px;
    padding-right: 10px; 
    margin-top: 10px;
    padding-top: 10px; 
    padding-bottom: 11px; 
    border-radius: 50%; 
    background-color: white;
   }
   
   .login_image {
    margin-left: 150%;
    margin-top: 17%;
    }
  .login_image2{
    margin-top: 7px;
  }
  .top-nav-collapse .login_image2{
    margin-top: 50px;
  }
  .top-nav-collapse .login_image{
    margin-top: 50px;
  }

  .intro-img {
    margin-top: 20px;
  }
  #hero-area .img-thumb {
    display: none;
  }
  #hero-area .contents .head-title {
    font-size: 22px;
    line-height: 36px;
    margin-bottom: 15px;
  }
  #hero-area .contents p {
    font-size: 14px;
  }
  #hero-area {
    padding: 120px 0 80px;
  }
  #hero-area .contents .btn {
    margin: 5px 10px 10px 0px;
  }
  .text-wrapper {
    padding: 60px 15px;
  }
  #about .sec-title h3 {
    font-size: 22px;
    line-height: 36px;
  }
  .about-area img {
    margin-top: 10px;
    padding-bottom: 10px;
  }
  .feature-thumb {
    padding: 10px;
  }
  .testimonial-item {
    padding: 0;
  }
  .client-item-wrapper img {
    width: 50%;
  }
  #cta h4 {
    font-size: 22px;
  }
  #cta .text-right {
    float: left !important;
  }
  #cta .btn {
    float: left;
  }
  .team-item .team-img {
    width: 100%;
    float: none;
  }
  .team-item .contetn {
    padding: 15px 30px;
  }
  .footer-right-contact .single-contact {
    margin: 10px 7px;
    padding: 3px 45px;
  }
  .footer-area .footer-titel {
    margin-top: 30px;
  }
  .contact-right-area {
    margin: 20px 0;
  }
  .contact-form-area h2 {
    font-size: 14px;
  }
  .copyright .float-right {
    float: left !important;
  }
  .map {
    margin-top: 0px;
    height: 100%;
    position: relative;
  }
  #cta {
    padding: 20px 0;
  }
  .cta-text {
    margin-bottom: 30px;
  }

  .service_block {
    margin-top: 20px;
    margin-right: 2%;
    margin-left: 10%;
  text-align: center;
  }
  .footer-area {
    background: url(../img/Mask_Group.png) rgb(150, 135, 233);;  
    position: relative;
    padding: 30px 0px 50px;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.award-card2{min-height: 260px;}
.award-card-col{width: 50%;}
.award-img1{height: 45px;}
.award-img2{height: 35px;}
.award-img3{height: 40px;}

.award-card3{background: #FFFFFF; box-shadow: 0px 0px 14px rgba(0, 0, 0, 0); border-radius: 16px; padding: 20px 10px 30px 20px; min-height: 200px;}
.contact-head{font-size: 18px; text-align: center;}
.contact-subhead{font-size: 21px; text-align: center;}

.team-col{width: 50%;}

}
